django-autocomplete-light==2.3.3
Django==1.10.3
django-debug-toolbar==1.6
django-grappelli==2.8.2
django-rq==0.9.4
django-test-without-migrations==0.4
django-extensions==1.7.5
redis==2.10.5
django-redis-cache==1.7.1
rq==0.7.0
rq-scheduler==0.7.0
requests==2.12.4
django-modeladmin-reorder==0.2
mock==2.0.0
psycopg2==2.6.2
ujson==1.35
factory-boy==2.8.1
lxml==3.7.1
django-supervisor==0.4.0
supervisor==3.3.1

#API
djangorestframework==3.4.6
sqlparse==0.2.1
django-filter==0.14.0
djangorestframework-csv==1.4.1
django-cors-headers==1.1.0